@media only screen {
    div#nav-medium{
        display: none;
        @media only screen and (min-width: 64.063em) {
            display: block;
            margin: 1em 0;
            padding-right: 0;
            ul{
                list-style:none;
                margin:0;
                padding:0;
                li.level_1{
                    a{
                        display:block;
                        padding:1em .5em;
                        margin:0;
                        text-decoration:none;
                        color:rgb(0,0,0);
                    }
                    & > ul{
                        background-color: $green-ten;
                        display: block;
                        li.level_2 {
                            & > a{
                                text-decoration:none;
                            }
                            &.here > a,
                            a:hover,
                            a:focus{
                                text-decoration: underline;
                            }
                            ul{
                                padding-left:2em;
                                list-style:disc;
                                li.level_3.here > a{
                                    text-decoration:underline;
                                }
                            }
                        }
                    }
                }
                li.level_1.here > a,
                li.level_1 > a:hover,
                li.level_1 > a:focus{
                    background-color:$green;
                    color: #fff;
	               text-decoration:underline;
                    font-weight: 700;
                }
                li.level_1.parent_here > a{
                    background-color:$green;
                    color: #fff;
                    font-weight: 700;
                    text-decoration:none;
                }

            }
        }
    }
}