@media print {
    div#networkElement,
    header,
    #mobile-nav,
    .top-links,
    #nav-button,
    #search-medium,
    #nav-wrap,
    .banner-home,
    div.banner-wrap,
    .featured-home,
    div#nav-medium,
    #social,
    footer,
    #standard-footer-site-links {
        display:none;
    }
    .content a { color: #186B9B; }

    a:after {
        content: " (" attr(href) ")";
        font-size: 80%;
    }
    ul.products {
        list-style:none;
    }
    ul.products li {
        overflow:auto;
    }
    ul.products img {
        float:left;
        margin:0 .5em .5em 0;
    }
    footer {
        text-align:center;
    }
    footer ul {
        list-style:none;
        overflow:auto;
        margin-bottom:1em;
    }
    footer li {
        float:left;
        margin-left:1em;
    }
    footer li:first-child {
        margin-left:0;
    }
}