
#nav-menu-mobile li.parent > ul{
	display: none;
}
article#content p.button{
	width: 100%;
}
@media only screen and (min-width: 40.063em){
		article#content p.button a{
			display:inline-block !important;
			padding-left: 6em !important;
			padding-right: 6em !important;
	}
}