/* sitewide formatting */
body, div, img, form, fieldset, legend, label, blockquote, pre, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

img {
  border: none; }

/* positioning */
.centered {
  text-align: center; }

.clearfix {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.hidden {
  position: absolute;
  left: -100em;
  top: auto;
  width: 0.0625em;
  height: 0.0625em;
  overflow: hidden; }

/* text styles */
b, strong, .bold {
  font-weight: bold; }

i, em, .italic {
  font-style: italic; }

.underline {
  text-decoration: underline; }

.strikethrough {
  text-decoration: line-through; }

.error {
  color: #f00;
  font-weight: bold; }

/* external link */
a.external_link {
  background: url(http://expeng.anr.msu.edu/images/sitewide/external-link-icon.png) 100% 50% no-repeat !important;
  display: inline !important;
  padding-right: 15px !important; }

/* text after document links */
a[href$=".pdf"]:after, a[href$=".PDF"]:after {
  content: " (pdf)"; }

a[href$=".psd"]:after, a[href$=".PSD"]:after {
  content: " (psd)"; }

a[href$=".ai"]:after, a[href$=".AI"]:after {
  content: " (ai)"; }

a[href$=".indd"]:after, a[href$=".INDD"]:after {
  content: " (indd)"; }

a[href$=".swf"]:after, a[href$=".SWF"]:after {
  content: " (swf)"; }

a[href$=".doc"]:after, a[href$=".DOC"]:after {
  content: " (doc)"; }

a[href$=".docx"]:after, a[href$=".DOCX"]:after {
  content: " (docx)"; }

a[href$=".xls"]:after, a[href$=".XLS"]:after {
  content: " (xls)"; }

a[href$=".xlsx"]:after, a[href$=".XLSX"]:after {
  content: " (xlsx)"; }

a[href$=".xlsm"]:after, a[href$=".XLSM"]:after {
  content: " (xlsm)"; }

a[href$=".ppt"]:after, a[href$=".PPT"]:after {
  content: " (ppt)"; }

a[href$=".pps"]:after, a[href$=".PPS"]:after {
  content: " (pps)"; }

a[href$=".pptx"]:after, a[href$=".PPTX"]:after {
  content: " (pptx)"; }

a[href$=".ppsx"]:after, a[href$=".PPSX"]:after {
  content: " (ppsx)"; }

a[href$=".accdb"]:after, a[href$=".ACCDB"]:after {
  content: " (accdb)"; }

a[href$=".mdb"]:after, a[href$=".MDB"]:after {
  content: " (mdb)"; }

/* document link styles */
a[href$=".pdf"], a[href$=".PDF"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/pdf.png) scroll no-repeat 0 0 transparent;
  color: #d60000 !important;
  padding-left: 18px; }

a[href$=".psd"], a[href$=".PSD"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/psd.png) scroll no-repeat 0 0 transparent;
  color: #004084 !important;
  padding-left: 18px; }

a[href$=".ai"], a[href$=".AI"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/ai.png) scroll no-repeat 0 0 transparent;
  color: #da5b00 !important;
  padding-left: 18px; }

a[href$=".indd"], a[href$=".INDD"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/indd.png) scroll no-repeat 0 0 transparent;
  color: #7d164d !important;
  padding-left: 18px; }

a[href$=".swf"], a[href$=".SWF"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/swf.png) scroll no-repeat 0 0 transparent;
  color: #d60000 !important;
  padding-left: 18px; }

a[href$=".doc"], a[href$=".docx"], a[href$=".DOC"], a[href$=".DOCX"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/doc.png) scroll no-repeat 0 0 transparent;
  color: #0b3ca7 !important;
  padding-left: 18px; }

a[href$=".xls"], a[href$=".xlsx"], a[href$=".XLS"], a[href$=".XLSX"], a[href$=".xlsm"], a[href$=".XLSM"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/xls.png) scroll no-repeat 0 0 transparent;
  color: #185c3b !important;
  padding-left: 18px; }

a[href$=".ppt"], a[href$=".pps"], a[href$=".pptx"], a[href$=".ppsx"],
a[href$=".PPT"], a[href$=".PPS"], a[href$=".PPTX"], a[href$=".PPSX"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/ppt.png) scroll no-repeat 0 0 transparent;
  color: #AD5101 !important;
  padding-left: 18px; }

a[href$=".accdb"], a[href$=".mdb"],
a[href$=".ACCDB"], a[href$=".MDB"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/accdb.png) scroll no-repeat 0 0 transparent;
  color: #a40042 !important;
  padding-left: 18px; }

/* float container */
div.floatbox {
  height: 1%;
  position: relative;
  overflow: auto; }

/* specific elements */
p#content_link {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0; }

div#cse {
  overflow: hidden; }

div#page .cse .gsc-control-cse,
div#page .gsc-control-cse,
div#page .cse .gsc-webResult.gsc-result,
div#page .gsc-webResult.gsc-result,
div#page .gsc-imageResult-column,
div#page .gsc-imageResult-classic,
div#page .gsc-webResult .gsc-result {
  background: none;
  border: none; }

div#content a.gcsc-branding-clickable,
div#content a.gcsc-branding-clickable:hover,
div#content a.gs-title,
article#content a.gcsc-branding-clickable,
article#content a.gcsc-branding-clickable:hover,
article#content a.gs-title {
  border: none; }

acronym, abbr {
  cursor: help; }

label[for="gse_query"] {
  display: block;
  height: 0;
  overflow: hidden;
  width: 0; }

/* normalize */
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* foundation */
meta.foundation-version {
  font-family: "/5.2.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

html, body {
  height: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-size: 100%; }

body {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: normal;
  position: relative;
  cursor: default; }

a:hover {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.hide {
  display: none; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 77.875em; }

.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.row.collapse > .column,
.row.collapse > .columns {
  padding-left: 0;
  padding-right: 0; }

.row.collapse .row {
  margin-left: 0;
  margin-right: 0; }

.row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none; }

.row .row:before, .row .row:after {
  content: " ";
  display: table; }

.row .row:after {
  clear: both; }

.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none; }

.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table; }

.row .row.collapse:after {
  clear: both; }

.column,
.columns {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left; }

@media only screen {
  .small-push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .small-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .small-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .small-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .small-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .small-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .small-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .small-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .small-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .small-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .small-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .small-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .small-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .small-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .small-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .small-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .small-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .small-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .small-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .small-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .small-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .small-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .small-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .small-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .small-1 {
    width: 8.33333%; }

  .small-2 {
    width: 16.66667%; }

  .small-3 {
    width: 25%; }

  .small-4 {
    width: 33.33333%; }

  .small-5 {
    width: 41.66667%; }

  .small-6 {
    width: 50%; }

  .small-7 {
    width: 58.33333%; }

  .small-8 {
    width: 66.66667%; }

  .small-9 {
    width: 75%; }

  .small-10 {
    width: 83.33333%; }

  .small-11 {
    width: 91.66667%; }

  .small-12 {
    width: 100%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .small-offset-0 {
    margin-left: 0% !important; }

  .small-offset-1 {
    margin-left: 8.33333% !important; }

  .small-offset-2 {
    margin-left: 16.66667% !important; }

  .small-offset-3 {
    margin-left: 25% !important; }

  .small-offset-4 {
    margin-left: 33.33333% !important; }

  .small-offset-5 {
    margin-left: 41.66667% !important; }

  .small-offset-6 {
    margin-left: 50% !important; }

  .small-offset-7 {
    margin-left: 58.33333% !important; }

  .small-offset-8 {
    margin-left: 66.66667% !important; }

  .small-offset-9 {
    margin-left: 75% !important; }

  .small-offset-10 {
    margin-left: 83.33333% !important; }

  .small-offset-11 {
    margin-left: 91.66667% !important; }

  .small-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

  .column.small-centered,
  .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.small-uncentered,
  .columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  .column.small-uncentered.opposite,
  .columns.small-uncentered.opposite {
    float: right; } }
@media only screen and (min-width: 40.063em) {
  .medium-push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .medium-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .medium-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .medium-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .medium-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .medium-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .medium-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .medium-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .medium-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .medium-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .medium-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .medium-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .medium-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .medium-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .medium-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .medium-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .medium-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .medium-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .medium-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .medium-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .medium-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .medium-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .medium-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .medium-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .medium-1 {
    width: 8.33333%; }

  .medium-2 {
    width: 16.66667%; }

  .medium-3 {
    width: 25%; }

  .medium-4 {
    width: 33.33333%; }

  .medium-5 {
    width: 41.66667%; }

  .medium-6 {
    width: 50%; }

  .medium-7 {
    width: 58.33333%; }

  .medium-8 {
    width: 66.66667%; }

  .medium-9 {
    width: 75%; }

  .medium-10 {
    width: 83.33333%; }

  .medium-11 {
    width: 91.66667%; }

  .medium-12 {
    width: 100%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .medium-offset-0 {
    margin-left: 0% !important; }

  .medium-offset-1 {
    margin-left: 8.33333% !important; }

  .medium-offset-2 {
    margin-left: 16.66667% !important; }

  .medium-offset-3 {
    margin-left: 25% !important; }

  .medium-offset-4 {
    margin-left: 33.33333% !important; }

  .medium-offset-5 {
    margin-left: 41.66667% !important; }

  .medium-offset-6 {
    margin-left: 50% !important; }

  .medium-offset-7 {
    margin-left: 58.33333% !important; }

  .medium-offset-8 {
    margin-left: 66.66667% !important; }

  .medium-offset-9 {
    margin-left: 75% !important; }

  .medium-offset-10 {
    margin-left: 83.33333% !important; }

  .medium-offset-11 {
    margin-left: 91.66667% !important; }

  .medium-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

  .column.medium-centered,
  .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.medium-uncentered,
  .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  .column.medium-uncentered.opposite,
  .columns.medium-uncentered.opposite {
    float: right; }

  .push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; } }
@media only screen and (min-width: 64.063em) {
  .large-push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .large-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .large-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .large-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .large-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .large-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .large-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .large-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .large-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .large-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .large-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .large-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .large-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .large-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .large-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .large-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .large-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .large-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .large-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .large-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .large-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .large-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .large-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .large-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .large-1 {
    width: 8.33333%; }

  .large-2 {
    width: 16.66667%; }

  .large-3 {
    width: 25%; }

  .large-4 {
    width: 33.33333%; }

  .large-5 {
    width: 41.66667%; }

  .large-6 {
    width: 50%; }

  .large-7 {
    width: 58.33333%; }

  .large-8 {
    width: 66.66667%; }

  .large-9 {
    width: 75%; }

  .large-10 {
    width: 83.33333%; }

  .large-11 {
    width: 91.66667%; }

  .large-12 {
    width: 100%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .large-offset-0 {
    margin-left: 0% !important; }

  .large-offset-1 {
    margin-left: 8.33333% !important; }

  .large-offset-2 {
    margin-left: 16.66667% !important; }

  .large-offset-3 {
    margin-left: 25% !important; }

  .large-offset-4 {
    margin-left: 33.33333% !important; }

  .large-offset-5 {
    margin-left: 41.66667% !important; }

  .large-offset-6 {
    margin-left: 50% !important; }

  .large-offset-7 {
    margin-left: 58.33333% !important; }

  .large-offset-8 {
    margin-left: 66.66667% !important; }

  .large-offset-9 {
    margin-left: 75% !important; }

  .large-offset-10 {
    margin-left: 83.33333% !important; }

  .large-offset-11 {
    margin-left: 91.66667% !important; }

  .large-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

  .column.large-centered,
  .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right; }

  .push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; } }
/* mobile tables */
@media only screen {
  table:before {
    content: 'swipe left to scroll';
    display: block;
    font-style: italic; }

  table {
    position: relative;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    width: 100%; }

  table td,
  table th {
    margin: 0;
    padding: .313em;
    text-align: left;
    border: 1px solid #bfbfbf;
    border-collapse: collapse; }

  table thead {
    display: block;
    float: left; }

  table thead tr {
    display: block; }

  table thead th {
    display: block; }

  table thead:after {
    clear: both;
    content: '';
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 0; }

  table tr {
    display: inline-block; }

  table tbody {
    white-space: nowrap;
    display: block;
    overflow-x: auto;
    position: relative;
    width: auto; }

  table tbody tr {
    display: inline-block;
    vertical-align: top;
    margin-right: -.313em; }

  table tbody td {
    display: block;
    min-height: 1.25em; }

  div#cse table:before {
    display: none; }

  div#cse table {
    position: relative;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    width: auto; }

  div#cse table td, div#cse table th {
    padding: .313em;
    text-align: left;
    border: none !important;
    border-collapse: collapse;
    display: table-cell; }

  div#cse table thead {
    overflow: auto;
    position: relative;
    white-space: normal;
    width: auto;
    float: none;
    display: table-header-group; }

  div#cse table thead tr {
    display: table-row; }

  div#cse table thead th {
    display: table-cell; }

  div#cse table thead:after {
    display: none; }

  div#cse table tr {
    display: table-row; }

  div#cse table tbody {
    white-space: normal;
    display: table-row-group;
    overflow: auto;
    position: relative;
    width: auto; }

  div#cse table tbody tr {
    display: table-row;
    vertical-align: top; }

  div#cse table tbody td {
    display: table-cell;
    min-height: auto; } }
/* tablet and desktop */
@media only screen and (min-width: 40.063em) {
  table:before {
    display: none; }

  table {
    position: relative;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    width: auto; }

  table td, table th {
    padding: .313em;
    text-align: left;
    border: 1px solid #000;
    border-collapse: collapse;
    display: table-cell; }

  table thead {
    overflow: auto;
    position: relative;
    white-space: normal;
    width: auto;
    float: none;
    display: table-header-group; }

  table thead tr {
    display: table-row; }

  table thead th {
    display: table-cell; }

  table thead:after {
    display: none; }

  table tr {
    display: table-row; }

  table tbody {
    white-space: normal;
    display: table-row-group;
    overflow: auto;
    position: relative;
    width: auto; }

  table tbody tr {
    display: table-row;
    vertical-align: top; }

  table tbody td {
    display: table-cell;
    min-height: auto; } }
/*------------------------------------------------------------------------- CSS RESET --*/
/*-- by Kim Maida | http://kim-maida.com --*/
/*-- Additional thanks to Eric Meyer, Richard Clark, Paul Irish, Divya Manian --*/
/*-- modified by Brad Everett for responsive sites --*/
#networkElement div, #networkElement span, #networkElement h1, #networkElement h2, #networkElement h3, #networkElement h4, #networkElement h5, #networkElement p, #networkElement a, #networkElement address, #networkElement em, #networkElement img, #networkElement ol, #networkElement ul, #networkElement li, #networkElement form, #networkElement input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  text-align: left;
  text-decoration: none;
  vertical-align: baseline; }

#networkElement div {
  box-sizing: content-box !important; }

#networkElement ol, #networkElement ul, #networkElement ul li {
  list-style: none; }

#networkElement input[type=button],
#networkElement input[type=submit],
#networkElement button {
  cursor: pointer; }

#networkElement h1,
#networkElement h2,
#networkElement h3,
#networkElement h4,
#networkElement h5 {
  font: normal 14px Arial, Helvetica, sans-serif;
  text-align: left;
  text-shadow: none;
  text-transform: none;
  background: none;
  float: none; }

#networkElement q:lang(en) {
  quotes: '&#8220;' '&#8221;' '&#8216;' '&#8217;'; }

/*--------------------------------------------------------------- TOP BAR --*/
div#anrElementWrapper {
  background: #575757;
  border-bottom: 1px solid #181818;
  height: 29px;
  overflow: hidden;
  position: relative; }

div#anrElement {
  color: #fff;
  font: normal 14px Arial, Helvetica, sans-serif;
  height: 29px;
  margin: 0 auto;
  position: relative;
  max-width: 86.875em;
  padding: 0 .9375em; }

div#anrElement a {
  color: #fff; }

div#anrElement a#skip {
  color: #CCC;
  float: left;
  font-size: 9px;
  line-height: 1.4;
  margin: 3px 10px 0 0;
  text-transform: uppercase;
  width: 40px; }

div#anrElement a#skip:hover,
div#anrElement a#skip:active,
div#anrElement a#skip:focus,
div#anrElement a#last:hover,
div#anrElement a#last:active,
div#anrElement a#last:focus {
  color: #fff; }

div#anrElement ul {
  float: left; }

div#anrElement li {
  background: url(http://expeng.anr.msu.edu/anr_bar/images/li-arrow.png) no-repeat 100% 0;
  float: left;
  height: 29px;
  /* 29px */
  line-height: 1.3;
  padding: 6px 13px 4px;
  text-shadow: -1px -1px 0 #616161; }

div#anrElement li span {
  background: url(http://expeng.anr.msu.edu/anr_bar/images/sprites.png) no-repeat 0 -52px;
  float: left;
  height: 20px;
  width: 20px; }

div#anrElement li a {
  font-weight: normal;
  background: url(http://expeng.anr.msu.edu/anr_bar/images/drop-arrows.png) no-repeat 100% -3px;
  color: #e9e9e9;
  padding-right: 15px; }

div#anrElement li a:hover,
div#anrElement li a.active,
div#anrElement li a.focus {
  font-size: inherit;
  background-position: 100% -31px;
  color: #fff; }

div#anrElement li.NElast-child,
div#anrElement li.NElast-child a#NElast {
  background: none; }

#networkElement div#NEsearch {
  float: right;
  font-size: 12px;
  padding: 4px 0; }

#networkElement div#NEsearch label {
  display: block;
  height: 0;
  overflow: hidden;
  width: 0; }

#networkElement input[type=text] {
  background: #e3e3e3 url(http://expeng.anr.msu.edu/anr_bar/images/sprites.png) no-repeat 0 -24px;
  height: 22px;
  line-height: 22px;
  /* fixes padding issues with IE */
  padding: 0 5px 0 23px;
  vertical-align: middle;
  width: 108px;
  /* 136px */ }

#networkElement input[type=submit] {
  background: none;
  color: #fff; }

/*------------------------------------------------------------------------- DROPDOWNS --*/
div#ddWrapper {
  margin: 0 auto;
  position: relative;
  max-width: 88.875em;
  z-index: 110; }

div#ddWrapper > div {
  background: #575757 url(http://expeng.anr.msu.edu/anr_bar/images/dd-shadow.png) repeat-x;
  border-left: 1px solid #181818;
  border-right: 1px solid #181818;
  border-bottom: 1px solid #181818;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 0 0 10px 10px;
  color: #fff;
  font: normal 14px/1.2 Arial, Helvetica, sans-serif;
  overflow: hidden;
  padding: 0 8px 12px 8px;
  position: absolute;
  width: 482px;
  /* 500px */ }

div#ddWrapper a {
  font-weight: normal;
  color: #fff; }

div#ddWrapper a:hover,
div#ddWrapper a:active,
div#ddWrapper a:focus {
  font-size: inherit;
  text-decoration: underline; }

div#networkElement a.NElink-ext {
  background: url(http://expeng.anr.msu.edu/anr_bar/images/ext-link.png) no-repeat 100% 5px;
  padding-right: 11px; }

#networkElement div.ddTitle {
  background: #bbbbbb url(http://expeng.anr.msu.edu/anr_bar/images/dd-shadow.png) repeat-x;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-radius: 0 0 5px 5px;
  color: #444;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 12px 10px 10px; }

#networkElement div.ddTitle h2 {
  background: url(http://expeng.anr.msu.edu/anr_bar/images/sprites.png) no-repeat;
  border-right: 1px solid #898888;
  cursor: pointer;
  float: left;
  height: 22px;
  padding-right: 10px;
  text-indent: -9999px;
  text-transform: capitalize;
  width: 98px; }

#networkElement div.ddTitle h3,
#networkElement div.ddTitle h3 a {
  color: #444;
  float: left;
  font-size: 16px;
  line-height: 22px;
  padding-left: 10px;
  text-shadow: 1px 1px 0 #dbdbdb; }

#networkElement div.ddTitle h3 a {
  padding-left: 0; }

#networkElement div.ddContent {
  margin: 4px 10px; }

div#dd-anr {
  left: 7em; }

div#dd-canr,
div#dd-msue,
div#dd-agbio,
div#dd-lmo {
  left: 14.5em; }

div#dd-aai,
div#dd-ans,
div#dd-ent,
div#dd-fshn,
div#dd-hrt,
div#dd-sop,
div#dd-spdc,
div#dd-iia,
div#dd-afre,
div#dd-carrs {
  left: 277px; }

div#dd-tollgate {
  left: 269px; }

div#dd-ipm {
  left: 342px; }

div#dd-lpi,
div#dd-pc {
  left: 355px; }

div#dd-csmott {
  left: 365px; }

div#dd-greeen {
  left: 333px; }

div#dd-currentSite {
  left: 278px; }

div#ddWrapper h4 {
  border-bottom: 1px solid #9b9b9b;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 6px 0;
  zoom: 1; }

div#ddWrapper div.NEsublist {
  padding-top: 10px;
  clear: both; }

div#ddWrapper div.NEcol {
  border-left: 1px solid #9b9b9b;
  border-bottom: 1px solid #9b9b9b;
  float: left;
  overflow: hidden;
  padding: 0 7px 10px;
  width: 140px;
  height: 237px; }

div#ddWrapper div.NEcol:first-child {
  border-left: none;
  padding-left: 0; }

div#ddWrapper div.NEcol.NElast-child {
  padding-right: 0; }

div#ddWrapper div.NEcol h4 {
  border-bottom: none;
  display: block;
  font-weight: normal;
  width: inherit;
  height: 40px;
  text-align: center; }

div#ddWrapper div.NEcol p,
div#ddWrapper div.NEcol a.NEoutgoing {
  color: #e9e9e9;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  padding: 4px 0; }

div#ddWrapper div.NEcol a.NEoutgoing {
  color: #fff;
  display: block;
  padding-bottom: 0;
  text-align: right; }

div#ddWrapper li {
  background: url(http://expeng.anr.msu.edu/anr_bar/images/sprites.png) no-repeat -130px -52px;
  padding-left: 12px;
  margin: 2px 0; }

div#ddWrapper div.MSUEMain {
  float: left;
  width: 230px; }

div#ddWrapper div.MSUEPrograms {
  float: right;
  position: relative;
  width: 200px; }

@media only screen {
  div#networkElement {
    display: none; } }
  @media only screen and (min-width: 64.063em) {
    div#networkElement {
      display: block; } }

@media only screen {
  header {
    background-color: #005a39;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00723f), to(#005a39));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #00723f, #005a39);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #00723f, #005a39);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #00723f, #005a39);
    /* IE10 */
    background-image: -o-linear-gradient(top, #00723f, #005a39);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #00723f, #005a39);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#00723f', EndColorStr='#005a39');
    color: #fff;
    padding-bottom: 1em;
    -webkit-box-shadow: 0 0.4375em 0.61868em #333333 ;
    -moz-box-shadow: 0 0.4375em 0.61868em #333333 ;
    box-shadow: 0 0.4375em 0.61868em #333333 ;
    position: relative;
    z-index: 10; }
    header .masthead-row .masthead {
      height: 2.125em;
      margin-top: 1em; }
      header .masthead-row .masthead a {
        background: url("//expeng.anr.msu.edu/images/sitewide/msuimages/masthead-helmet-white.svg") no-repeat scroll left center transparent;
        background-size: 100% auto;
        display: block;
        height: 2.125em;
        text-indent: -999em; } }
      @media only screen and (min-width: 30.4375em) {
        header .masthead-row .masthead a {
          background-size: auto; } }
      @media only screen and (min-width: 64.063em) {
        header .masthead-row .masthead a {
          display: inline-block;
          width: 50%; } }
@media only screen {
    header .title-row {
      padding-top: .75em; }
      header .title-row h1 {
        margin: 0; }
        header .title-row h1 a {
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
          font-size: .6em;
          font-weight: 400; }
          header .title-row h1 a span {
            display: block;
            font-weight: 900;
            font-size: 1.5em; }
    header #cse-search-box {
      display: none; } }
    @media only screen and (min-width: 64.063em) {
      header #cse-search-box {
        display: block; } }

@media only screen {
  header.home {
    background-color: white;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, white, white);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, white, white);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, white, white);
    /* IE10 */
    background-image: -o-linear-gradient(top, white, white);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, white, white);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='white', EndColorStr='white');
    background-color: #fff;
    color: #005a39; }
    header.home .masthead-row div.masthead a {
      background: url("//expeng.anr.msu.edu/images/sitewide/msuimages/masthead-helmet-green.svg") no-repeat scroll left center transparent;
      background-size: 100% auto; } }
    @media only screen and (min-width: 30.4375em) {
      header.home .masthead-row div.masthead a {
        background-size: auto; } }
    @media only screen and (min-width: 64.063em) {
      header.home .masthead-row div.masthead a {
        display: inline-block;
        width: 50%; } }
@media only screen {
    header.home .title-row h1 {
      margin: 0; }
      header.home .title-row h1 a {
        color: #005a39;
        text-transform: uppercase;
        text-decoration: none;
        font-size: .6em;
        font-weight: 400; }
        header.home .title-row h1 a span {
          display: block;
          font-weight: 900;
          font-size: 1.5em; } }
@media only screen and (min-width: 40.063em) {
  .masthead form {
    display: block; }

  .masthead-row {
    position: relative; }

  .title-row {
    padding-top: 0; }

  div#search-medium {
    display: inline; }

  .masthead form {
    float: right;
    background: none repeat scroll 0 0 #FFFFFF;
    border: .0625em solid #999999;
    -webkit-border-radius: 0.1875em;
    -moz-border-radius: 0.1875em;
    -ms-border-radius: 0.1875em;
    border-radius: 0.1875em;
    height: 1.75em;
    margin-bottom: .75em;
    width: 18.75em;
    overflow: hidden; }

  .masthead form input[type=text] {
    border: none;
    width: 16em;
    padding-left: .25em;
    margin-top: .1875em;
    color: #000; }

  .masthead form input[type=submit] {
    background: url("http://expeng.anr.msu.edu/images/sitewide/msuimages/icon-search.svg") no-repeat scroll center center white;
    border: 0 none;
    -webkit-border-radius: 0 0.1875em 0.1875em 0;
    -moz-border-radius: 0 0.1875em 0.1875em 0;
    -ms-border-radius: 0 0.1875em 0.1875em 0;
    border-radius: 0 0.1875em 0.1875em 0;
    cursor: pointer;
    float: right;
    height: 1.75em;
    margin: 0 auto;
    outline: 0 none;
    text-indent: -9999px;
    text-transform: capitalize;
    width: 2.125em; } }
@media only screen and (min-width: 40.063em) {
  div.banner-wrap {
    background: url("/includes/banner.jpg") right top no-repeat;
    background-size: 78% auto; } }
@media only screen and (min-width: 44.9375em) {
  div.banner-wrap {
    background-size: 66% auto; } }
@media only screen and (min-width: 63.064em) {
  div.banner-wrap {
    max-width: 82.125em;
    margin: 0 auto;
    background-color: #005a39;
    /*Fallback Color */
    background-image: url("/includes/banner.jpg") right top no-repeat;
    /* fallback image */
    background: url("/includes/banner.jpg") right top/74.5% auto no-repeat, -webkit-gradient(linear, left top, left bottom, from(#00723f), to(#005a39));
    /* Saf4+, Chrome */
    background: url("/includes/banner.jpg") right top/74.5% auto no-repeat, -webkit-linear-gradient(top, #00723f, #005a39);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background: url("/includes/banner.jpg") right top/74.5% auto no-repeat, -moz-linear-gradient(top, #00723f, #005a39);
    /* FF3.6 */
    background: url("/includes/banner.jpg") right top/74.5% auto no-repeat, -ms-linear-gradient(top, #00723f, #005a39);
    /* IE10 */
    background: url("/includes/banner.jpg") right top/74.5% auto no-repeat, -o-linear-gradient(top, #00723f, #005a39);
    /* Opera 11.10+ */ } }

@media only screen {
  div.banner-text {
    background-color: #005a39;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00723f), to(#005a39));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #00723f, #005a39);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #00723f, #005a39);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #00723f, #005a39);
    /* IE10 */
    background-image: -o-linear-gradient(top, #00723f, #005a39);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #00723f, #005a39);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#00723f', EndColorStr='#005a39');
    color: #fff;
    padding: 1em .9375em .5em .9375em;
    line-height: 1.5; } }
  @media only screen and (min-width: 40.063em) {
    div.banner-text {
      -webkit-border-radius: 0 7em 7em 0;
      -moz-border-radius: 0 7em 7em 0;
      -ms-border-radius: 0 7em 7em 0;
      border-radius: 0 7em 7em 0;
      padding-right: 5em; } }

  @media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    div.banner-text {
      -webkit-border-radius: 0 0 0 0;
      -moz-border-radius: 0 0 0 0;
      -ms-border-radius: 0 0 0 0;
      border-radius: 0 0 0 0;
      padding-right: .9375em;
      min-height: 15.25em; } }

@media only screen {
  div#nav-medium {
    display: none; } }
  @media only screen and (min-width: 64.063em) {
    div#nav-medium {
      display: block;
      margin: 1em 0;
      padding-right: 0; }
      div#nav-medium ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        div#nav-medium ul li.level_1 a {
          display: block;
          padding: 1em .5em;
          margin: 0;
          text-decoration: none;
          color: black; }
        div#nav-medium ul li.level_1 > ul {
          background-color: rgba(0, 90, 57, 0.1);
          display: block; }
          div#nav-medium ul li.level_1 > ul li.level_2 > a {
            text-decoration: none; }
          div#nav-medium ul li.level_1 > ul li.level_2.here > a,
          div#nav-medium ul li.level_1 > ul li.level_2 a:hover,
          div#nav-medium ul li.level_1 > ul li.level_2 a:focus {
            text-decoration: underline; }
          div#nav-medium ul li.level_1 > ul li.level_2 ul {
            padding-left: 2em;
            list-style: disc; }
            div#nav-medium ul li.level_1 > ul li.level_2 ul li.level_3.here > a {
              text-decoration: underline; }
        div#nav-medium ul li.level_1.here > a,
        div#nav-medium ul li.level_1 > a:hover,
        div#nav-medium ul li.level_1 > a:focus {
          background-color: #005a39;
          color: #fff;
          text-decoration: underline;
          font-weight: 700; }
        div#nav-medium ul li.level_1.parent_here > a {
          background-color: #005a39;
          color: #fff;
          font-weight: 700;
          text-decoration: none; } }

@media only screen {
  footer {
    text-align: center;
    padding: 1em 0;
    background-color: #3f474d;
    color: #fff; }

  footer .row {
    position: relative; }

  footer ul {
    margin: 0;
    padding: 0; }

  footer li {
    display: inline-block;
    border-left: 1px #fff dotted;
    padding: 0 .25em 0 .5em; }

  footer li:first-child {
    border-left: none; }

  footer li a {
    text-decoration: none;
    color: #fff; }

  footer li a:hover,
  footer li a:focus {
    text-decoration: underline; }

  #standard-footer-site-links {
    font-size: .8125em;
    border-bottom: 1px dotted #fff;
    margin-bottom: .65em;
    padding-bottom: .65em; }

  #standard-footer-MSU-info {
    font-size: .625em; }

  #standard-footer-MSU-info .spartans-will {
    text-transform: uppercase;
    font-weight: 700; }

  p.timestamp {
    font-size: .8125em; } }
@media only screen and (min-width: 40.063em) {
  div.footer-text.medium-9.columns {
    float: right !important; }

  footer {
    text-align: left; }

  p.timestamp {
    float: right; } }
  @media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    p.timestamp {
      margin-top: -1em; } }

@media only screen {
  p#nav-button {
    position: relative;
    margin: 0; }

  p#nav-button a {
    background: url("http://expeng.anr.msu.edu/images/sitewide/departments/menu-home.svg") no-repeat 0 0 transparent;
    background-size: 100% auto;
    display: block;
    height: 3.625em;
    overflow: hidden;
    position: absolute;
    right: -0.9375em;
    text-indent: 9999em;
    top: -0.5em;
    width: 4em; }

  header.home p#nav-button a {
    background: url("http://expeng.anr.msu.edu/images/sitewide/departments/menu.svg") no-repeat 0 0 transparent;
    background-size: 100% auto; }

  nav#mobile-nav {
    width: 0;
    /* collapsed */
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #E08D8E;
    z-index: 10;
    transition: width 0.3s ease; }

  nav#mobile-nav .title-mobile {
    font-size: 1.6em;
    line-height: 1;
    font-weight: bold; }

  nav#mobile-nav p.title-mobile a:hover,
  nav#mobile-nav p.title-mobile a:focus {
    color: #005a39;
    text-decoration: none; }

  nav#mobile-nav a {
    text-decoration: none; }

  nav#mobile-nav a:hover {
    text-decoration: underline; }

  nav#mobile-nav.green-white {
    background-color: #19453b;
    color: #fff; }

  nav#mobile-nav.white-green {
    background-color: #fff;
    color: #19453b; }

  nav#mobile-nav.white-grey {
    background-color: #fff;
    color: #404041; }

  nav#mobile-nav.grey-white {
    background-color: #404041;
    color: #fff; }

  nav#mobile-nav p.close {
    text-align: right;
    text-transform: uppercase; }

  nav#mobile-nav p.close a {
    background-size: 1.25em 1.25em;
    padding-left: 1.875em; }

  nav#mobile-nav p.close a:hover,
  nav#mobile-nav p.close a:focus {
    color: #005a39;
    text-decoration: underline; }

  nav#mobile-nav.white-green p.close a {
    background: url("http://expeng.anr.msu.edu/images/sitewide/close-green.svg") no-repeat scroll left center transparent; }

  nav#mobile-nav ul {
    list-style: none;
    margin: 1.5em 0 0 0;
    padding: 0; }

  nav#mobile-nav.grey-white li,
  nav#mobile-nav.green-white li {
    border-top: .063em solid #fff; }

  nav#mobile-nav.white-green li {
    border-top: .063em solid #19453b; }

  nav#mobile-nav.white-grey li {
    border-top: .063em solid #404041; }

  nav#mobile-nav li:first-child {
    border-top: none; }

  nav#mobile-nav li a {
    display: block;
    padding: 1em .5em;
    margin: 0;
    text-decoration: none; }

  nav#mobile-nav.green-white a,
  nav#mobile-nav.green-white li a {
    color: #fff; }

  nav#mobile-nav.white-green a,
  nav#mobile-nav.white-green li a {
    color: #19453b; }

  nav#mobile-nav.white-grey a,
  nav#mobile-nav.white-grey li a {
    color: #404041; }

  nav#mobile-nav.grey-white a,
  nav#mobile-nav.grey-white li a {
    color: red; }

  nav#mobile-nav a:hover {
    text-decoration: underline;
    color: white; }

  nav#mobile-nav li.here a,
  nav#mobile-nav li a:focus {
    background-color: #005a39;
    text-decoration: underline;
    color: #fff; }

  nav#mobile-nav ul ul {
    border-top: 0.063em solid black;
    margin-top: 0; }

  nav#mobile-nav li.level_2 a {
    background-color: #e6f7ed;
    color: #005a39; }

  nav#mobile-nav:target {
    width: 15em;
    padding: 1em;
    overflow-y: visible;
    z-index: 500; }

  nav#mobile-nav form {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    border-radius: 3px;
    height: 28px;
    margin-bottom: 12px;
    width: 13em;
    overflow: hidden; }

  nav#mobile-nav form input[type=text] {
    border: none;
    width: 10.5em;
    padding-left: .25em; }

  nav#mobile-nav form input[type=submit] {
    background: url("http://expeng.anr.msu.edu/images/sitewide/msuimages/icon-search.svg") no-repeat scroll center center white;
    border: 0 none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    float: right;
    height: 28px;
    margin: 0 auto;
    outline: 0 none;
    text-indent: -9999px;
    text-transform: capitalize;
    width: 2em; }

  nav#mobile-nav:target + #wrap {
    position: fixed;
    left: -15em;
    overflow-x: hidden;
    overflow-y: visible; }

  nav#mobile-nav:target ~ a#nav-button.nav-button {
    position: absolute;
    top: -500em !important; }

  nav#mobile-nav:target + #dark-cover {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.7); }

  nav#mobile-nav:target + #dark-cover + #outer-wrap {
    overflow: hidden; } }
@media only screen and (min-width: 64.063em) {
  p#nav-button,
  nav#mobile-nav,
  div#dark-cover,
  ul#mobile-nav {
    display: none; } }
@media only screen {
  body.mceContentBody {
    background: #fff none !important;
    text-align: left;
    overflow: auto;
    font-size: 16px;
    cursor: text; }

  h2.landmark {
    position: absolute;
    top: -3333em;
    left: -3333em; }

  body {
    font-family: "proxima-nova",sans-serif;
    color: #5c5c5c;
    line-height: 1;
    cursor: initial; }

  h2 {
    font-size: 1.9238541859054em;
    font-family: "merriweather",serif;
    font-weight: 900;
    color: #005a39;
    margin: .45em 0; }

  h3 {
    font-size: 1.8402083517355998em;
    font-weight: 700;
    font-family: "proxima-nova",sans-serif;
    margin: .5em 0; }

  h4 {
    font-size: 1.5056250150564em;
    font-weight: 700;
    font-family: "museo-sans",sans-serif;
    margin: .593em 0;
    color: #005a39; }

  h5 {
    font-size: 1.3383333467168em;
    font-weight: 800;
    font-family: "proxima-nova",sans-serif;
    margin: .66em 0; }

  h6 {
    color: #005a39;
    font-family: "museo-sans",sans-serif;
    font-size: 1.1710416783772em;
    font-weight: 700;
    margin: .721em 0; }

  div.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; }
    div.video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none; }

  #outer-wrap {
    width: 100%;
    height: 100%;
    float: left; } }
@media only screen and (min-width: 64.063em) {
  div.page-wrap {
    background: white url("http://expeng.anr.msu.edu/images/sitewide/departments/page-bg.png") repeat-y 25.66406% 0;
    max-width: 80em;
    margin: 0 auto; } }

@media only screen and (min-width: 64.063em) {
  div.fade {
    background: url("http://expeng.anr.msu.edu/images/sitewide/departments/fade.png") top left repeat-y; } }

@media only screen {
  header.home ~ article#content {
    margin-top: 0; }

  article#content {
    margin-top: 1em;
    margin-bottom: 7.125em; }
    article#content p {
      margin: 1em 0;
      line-height: 1.4;
      font-size: 1.0037500100376em; }
    article#content li {
      margin: .5em 0;
      line-height: 1.4;
      font-size: 1.0037500100376em; }
    article#content blockquote {
      margin: 1em;
      line-height: 1.4;
      font-size: 1.0037500100376em; }
    article#content a {
      color: #005a39; }
    article#content a:hover,
    article#content a:focus {
      text-decoration: none; }

  ul.paginate {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center; }
    ul.paginate li {
      display: inline-block;
      padding: .5em 1em; }
    ul.paginate li:first-child {
      padding-left: 0; }
    ul.paginate li:last-child {
      padding-right: 0; }

  .right {
    float: right;
    margin: 1em 0 1em 1em; }

  .left {
    float: left;
    margin: 1em 1em 1em 0; }

  p.button {
    width: 90%; }
    p.button a,
    p.button a.external_link {
      display: block !important;
      color: #005a39 !important;
      background-color: #fff !important;
      border: 1px solid #828282 !important;
      -webkit-border-radius: 0.375em;
      -moz-border-radius: 0.375em;
      -ms-border-radius: 0.375em;
      border-radius: 0.375em;
      text-align: center !important;
      padding: .5em 0 !important;
      font-weight: 900 !important;
      text-transform: uppercase !important;
      text-decoration: none !important;
      margin: .5em 0 !important;
      background-image: none !important;
      letter-spacing: .0625em; }
    p.button a:hover,
    p.button a:focus,
    p.button a.external_link:hover,
    p.button a.external_link:focus {
      text-decoration: underline !important; }

  p.button.green a,
  p.button.green a.external_link {
    color: #fff !important;
    background-color: #005a39 !important;
    background-color: #005a39 !important;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00723f !important), to(#005a39 !important));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #00723f !important, #005a39 !important);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #00723f !important, #005a39 !important);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #00723f !important, #005a39 !important);
    /* IE10 */
    background-image: -o-linear-gradient(top, #00723f !important, #005a39 !important);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #00723f !important, #005a39 !important);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#00723f !important', EndColorStr='#005a39 !important'); }

  div.row.home-majors {
    margin: 1em -.9375em; } }
  @media only screen and (min-width: 40.063em) {
    div.row.home-majors div {
      border-top: 30px #005a39 solid; } }
@media only screen {
    div.row.home-majors div h3 {
      background-color: #005a39;
      color: #fff;
      padding: 0.3em 1em;
      margin-left: -.9375em;
      font-size: 1.125em;
      -webkit-border-radius: 0 1.1875em 1.1875em 0;
      -moz-border-radius: 0 1.1875em 1.1875em 0;
      -ms-border-radius: 0 1.1875em 1.1875em 0;
      border-radius: 0 1.1875em 1.1875em 0; } }
    @media only screen and (min-width: 40.063em) {
      div.row.home-majors div h3 {
        border-top: .25em solid #fff;
        border-right: .25em solid #fff;
        border-bottom: .25em solid #fff;
        border-left: none;
        margin-top: -34px;
        height: 38px; } }
@media only screen {
    div.row.home-majors div ul {
      padding: 0;
      list-style: none; } }
  @media only screen and (min-width: 40.063em) {
    div.row.home-majors div:nth-child(1) h3 {
      padding-left: 0;
      margin-left: 0; } }
@media only screen {
    div.row.home-majors div:nth-child(3) {
      border-top: 30px #fff solid; }

  ul#social {
    list-style: none;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: -8em;
    left: 0; } }
  @media only screen and (min-width: 64.063em) {
    ul#social {
      left: 26%; } }
@media only screen {
    ul#social li a {
      display: block;
      width: 3.125em;
      height: 6.5em;
      text-indent: -999em; }
    ul#social li.dairy-store a {
      background: url("/images/dairystore.png") no-repeat center center;
      width: 9.25em;
      height: 6.5em;
      background-size: 9.25em 6.5em; }
    ul#social li.youtube a {
      background: url("http://expeng.anr.msu.edu/images/sitewide/departments/youtube.png") no-repeat center center;
      background-size: 3.125em 3.125em; }
    ul#social li.twitter a {
      background: url("http://expeng.anr.msu.edu/images/sitewide/departments/twitter.png") no-repeat center center;
      background-size: 3.125em 3.125em; }
    ul#social li.flickr a {
      background: url("http://expeng.anr.msu.edu/images/sitewide/departments/flickr.png") no-repeat center center;
      background-size: 3.125em 3.125em; }
    ul#social li.facebook a {
      background: url("http://expeng.anr.msu.edu/images/sitewide/departments/facebook.png") no-repeat center center;
      background-size: 3.125em 3.125em; }
    ul#social li.rss a {
      background: url("http://expeng.anr.msu.edu/images/sitewide/departments/rss.png") no-repeat center center;
      background-size: 3.125em 3.125em; }
    ul#social li.linkedin a {
      background: url("http://expeng.anr.msu.edu/images/sitewide/departments/linkedin.png") no-repeat center center;
      background-size: 3.125em 3.125em; }

  ul.news {
    padding: 0;
    list-style: none; }
    ul.news li.news-item {
      overflow: auto; } }
    @media only screen and (min-width: 30em) {
      ul.news li.news-item img.news-thumb {
        float: right;
        margin: 0 0 1em 1em;
        max-width: 10em; } }
@media only screen {
      ul.news li.news-item h3 {
        margin-bottom: 0;
        font-size: 1.5em; }
      ul.news li.news-item p.news-date {
        font-size: .9375em;
        margin-top: 0 !important; }

  a.in-article-img img {
    min-width: 100%;
    margin-bottom: .75em; } }
@media only screen and (min-width: 40.063em) {
  a.in-article-img {
    display: block;
    float: right;
    margin: 0 0 1em 1em;
    max-width: 21.875em; } }

@media only screen {
  ul.events {
    padding: 0;
    list-style: none; }
    ul.events li.event-item h3 {
      font-size: 1.5em; }

  /*  div.faculty-name-pic{
        display: block;
        position: relative;
        margin: 1em 0;
        @media only screen and (min-width:40.063em){
            display: inline;
            overflow: inherit;
        }
        h2{
            position: absolute;
            left: 5.75em;
            top: -1em;
            @media only screen and (min-width:40.063em){
                left: 0;
                top: 0;
                position: relative;
            }
        }
        img.faculty-full{
            float: none;
            @media only screen and (min-width:40.063em){
                float: left;
                margin: 0 1em 1em 0;
            }
        }
    }
    */ }
@media only screen and (min-width: 40.063em) {
  div.faculty-info {
    overflow: auto; }
    div.faculty-info img.faculty-full {
      float: left;
      margin: 0 1em 0 0; } }

@media only screen {
  ul.directory-label {
    padding: 0;
    background-color: #005a39;
    -webkit-border-radius: 0 1.1875em 1.1875em 0;
    -moz-border-radius: 0 1.1875em 1.1875em 0;
    -ms-border-radius: 0 1.1875em 1.1875em 0;
    border-radius: 0 1.1875em 1.1875em 0;
    list-style: none;
    overflow: auto;
    display: none; } }
  @media only screen and (min-width: 40.063em) {
    ul.directory-label {
      display: block; } }
@media only screen {
    ul.directory-label li {
      float: left;
      margin: 0;
      padding: 0;
      text-align: center;
      font-weight: 700;
      color: #fff; } }
    @media only screen and (min-width: 40.063em) {
      ul.directory-label li {
        width: 50%; } }
  @media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    ul.directory-label li {
      width: 33.3%; } }

    @media only screen and (min-width: 64.063em) {
      ul.directory-label li span {
        display: none; } }
  @media only screen and (min-width: 40.063em) {
    ul.directory-label li:last-child {
      display: none; } }

  @media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    ul.directory-label li:last-child {
      display: block; } }

@media only screen {
  ul.faculty {
    padding: 0;
    list-style: none;
    font-size: 1.25em;
    font-family: museo-sans-condensed; }
    ul.faculty li.faculty-person {
      padding: 0;
      overflow: auto; }
      ul.faculty li.faculty-person img.faculty-thumb {
        float: left;
        margin: 0 1em 1em 0; } }
      @media only screen and (min-width: 40.063em) {
        ul.faculty li.faculty-person img.faculty-thumb {
          margin: 0 1em 0 0; } }
    @media only screen and (min-width: 40.063em) {
      ul.faculty li.faculty-person p {
        float: left;
        width: 49%; } }
  @media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    ul.faculty li.faculty-person p {
      width: 66.6%; } }

@media only screen {
      ul.faculty li.faculty-person p span.phone,
      ul.faculty li.faculty-person p span.email {
        display: block; } }
      @media only screen and (min-width: 40.063em) {
        ul.faculty li.faculty-person p span.phone,
        ul.faculty li.faculty-person p span.email {
          text-align: center; } }
  @media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    ul.faculty li.faculty-person p span.phone,
    ul.faculty li.faculty-person p span.email {
      width: 50%;
      float: left;
      display: inline-block; } }

    @media only screen and (min-width: 64.063em) {
      ul.faculty li.faculty-person p.name {
        width: 33.3%; } }
@media only screen {
      ul.faculty li.faculty-person p.name a {
        font-size: 1.5em; }
    ul.faculty li.faculty-person:nth-child(even) {
      background-color: #e6f7ed; } }
@media print {
  div#networkElement,
  header,
  #mobile-nav,
  .top-links,
  #nav-button,
  #search-medium,
  #nav-wrap,
  .banner-home,
  div.banner-wrap,
  .featured-home,
  div#nav-medium,
  #social,
  footer,
  #standard-footer-site-links {
    display: none; }

  .content a {
    color: #186B9B; }

  a:after {
    content: " (" attr(href) ")";
    font-size: 80%; }

  ul.products {
    list-style: none; }

  ul.products li {
    overflow: auto; }

  ul.products img {
    float: left;
    margin: 0 .5em .5em 0; }

  footer {
    text-align: center; }

  footer ul {
    list-style: none;
    overflow: auto;
    margin-bottom: 1em; }

  footer li {
    float: left;
    margin-left: 1em; }

  footer li:first-child {
    margin-left: 0; } }
