@import "D:\css\sitewide\sass\sitewide";
@import "D:\css\sitewide\sass\normalize";
@import "D:\css\sitewide\sass\foundation";
@import "D:\css\sitewide\sass\tables-responsive";
// ANR BAR single line comment out if don't need. Won't appear in css file
@import "D:\anr_bar\scss\styles";
@import "mixins";
@import "variables";
@import "header";
@import "banner";
@import "nav-medium";
@import "footer";
@import "mobile-nav";
@media only screen {
    body.mceContentBody { 
        background: #fff none !important; 
        text-align: left; 
        overflow: auto; 
        font-size:16px;
        cursor: text;
    }
    h2.landmark { 
        position: absolute; 
        top:-3333em;
        left: -3333em;
    }
    body {
        font-family: "proxima-nova",sans-serif;
        color: $gray;
        line-height: 1;
        cursor: initial;
    }
    h2{
        font-size:1.9238541859054em;
        font-family: "merriweather",serif;
        font-weight:  900;
        color: $green;
        margin: .45em 0;
    }
    h3 {
        font-size:1.8402083517355998em;
        font-weight:  700;
        font-family: "proxima-nova",sans-serif;
        margin:.5em 0;
    }
    h4 { 
        font-size: 1.5056250150564em;
        font-weight:  700;
        font-family: "museo-sans",sans-serif;
        margin:.593em 0;
        color: $green;
    }
    h5 {
        font-size:1.3383333467168em;
        font-weight:  800;
        font-family: "proxima-nova",sans-serif;
        margin:.66em 0;
    } 
    h6 {
        color: $green;
        font-family: "museo-sans",sans-serif;
        font-size: 1.1710416783772em;
        font-weight: 700;
        margin: .721em 0;
    }
    div.video{
        position:relative;
        padding-bottom:56.25%;
        height:0;
        iframe{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            border:none
        }
    }
   #outer-wrap {
        width:100%;
        height:100%;
        float:left;
    }
    div.page-wrap{
        @media only screen and (min-width:64.063em){
            background: #fff url('http://expeng.anr.msu.edu/images/sitewide/departments/page-bg.png') repeat-y 25.6640625% 0; 
            max-width: 80em;
            margin: 0 auto;
        }
    }
    div.fade{
        @media only screen and (min-width:64.063em){
            background:url('http://expeng.anr.msu.edu/images/sitewide/departments/fade.png') top left repeat-y;
        }
    }
    header.home ~ article#content{
        margin-top: 0;
    }
    article#content{
        margin-top: 1em;
        margin-bottom: 7.125em;
        p {
            margin: 1em 0;
            line-height: 1.4;
            font-size: 1.0037500100376em;
        }
        li{
            margin: .5em 0;
            line-height: 1.4;
            font-size: 1.0037500100376em;
        }
        blockquote{
            margin: 1em;
            line-height: 1.4;
            font-size: 1.0037500100376em;
        }
        a{
            color: $green;
        }
        a:hover,
        a:focus{
            text-decoration: none;
        }
    }
    ul.paginate{
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        li{
            display: inline-block;
            padding: .5em 1em;
        }
        li:first-child{
            padding-left: 0;
        }
        li:last-child{
            padding-right: 0;
        }
    }
    .right{
        float: right;
        margin: 1em 0 1em 1em;
    }
    .left{
        float: left;
        margin: 1em 1em 1em 0;
    }
    p.button{
        width: 90%;
        a,
        a.external_link{
            display: block !important;
            color: $green !important;
            background-color: #fff !important;
            border:1px solid rgb(130,130,130) !important;
            @include border-radius(.375em);
            text-align: center !important;
            padding: .5em 0 !important;
            font-weight: 900 !important;
            text-transform: uppercase !important;
            text-decoration: none !important;
            margin: .5em 0 !important;
            background-image: none !important;
            letter-spacing: .0625em;
        }
        a:hover,
        a:focus,
        a.external_link:hover,
        a.external_link:focus{
            text-decoration: underline !important;
        }
    }
    p.button.green{
        a,
        a.external_link{
            color: #fff !important;
            background-color: $green !important;
            @include linear-gradient($msu-green !important, $green !important);
        } 
    }
    // ------------------ HOME PAGE --------------------
    div.row.home-majors{
        margin: 1em -.9375em;      
        div{
            @media only screen and (min-width:40.063em){
                border-top: 30px $green solid;
            }
            h3{
                background-color: $green;
                color: #fff;
                padding: .3em 1em ;
                margin-left: -.9375em;
                font-size: 1.125em;
                @include border-radius(0 1.1875em 1.1875em 0);
                @media only screen and (min-width:40.063em){
                    border-top: .25em solid #fff;
                    border-right: .25em solid #fff;
                    border-bottom: .25em solid #fff;
                    border-left: none;
                    margin-top: -34px;
                    height: 38px;
                }
            }
            ul{
                padding:0;
                list-style:none;
            }
        }
        div:nth-child(1){
            h3{
                @media only screen and (min-width:40.063em){
                    padding-left: 0;
                    margin-left: 0;
                }
            }
        }

        div:nth-child(3){
            border-top: 30px #fff solid;
        }
    }
    ul#social{
        list-style: none;
        padding: 0;
        overflow: hidden;
        position:absolute;
        top:-8em;
        left:0;
        @media only screen and (min-width:64.063em){
            left:26%;
        }
        li{
          //  float: left;
          //  width:25%;
            a{
                display: block;
                width: 3.125em;
                height: 6.5em;
                text-indent: -999em;
            }
            @media only screen and (min-width:40.063em){
            //    width: 19%;
            }
        }
        li.dairy-store{
         //   float: none;
            @media only screen and (min-width:40.063em){
            //    float: left;
            }
            a{
                background:url('/images/dairystore.png') no-repeat center center;
                width:9.25em;
                height:6.5em;
                background-size: 9.25em 6.5em;
            }
        }
        li.youtube{
            a{
                background: url('http://expeng.anr.msu.edu/images/sitewide/departments/youtube.png') no-repeat center center;
                background-size: 3.125em 3.125em;
            }
        }
        li.twitter{
            a{
                background: url('http://expeng.anr.msu.edu/images/sitewide/departments/twitter.png') no-repeat center center;
                background-size: 3.125em 3.125em;
            }
        }
        li.flickr{
            a{
                background: url('http://expeng.anr.msu.edu/images/sitewide/departments/flickr.png') no-repeat center center;
                background-size: 3.125em 3.125em;
            }
        }
        li.facebook{
            a{
                background: url('http://expeng.anr.msu.edu/images/sitewide/departments/facebook.png') no-repeat center center;
                background-size: 3.125em 3.125em;            
            }
        }
        li.rss{
            a{
                background: url('http://expeng.anr.msu.edu/images/sitewide/departments/rss.png') no-repeat center center;
                background-size: 3.125em 3.125em;            
            }
        }
        li.linkedin{
            a{
                background: url('http://expeng.anr.msu.edu/images/sitewide/departments/linkedin.png') no-repeat center center;
                background-size: 3.125em 3.125em;            
            }
        }
    }    
    // ----------------- NEWS -----------------------
    ul.news{
        padding: 0;
        list-style: none;
        li.news-item{
            overflow:auto;
            img.news-thumb{
                @media only screen and (min-width:30em){
                    float:right;
                    margin:0 0 1em 1em;
                    max-width: 10em;
                }
            }
            h3{
                margin-bottom: 0;
                font-size:1.5em;
            }
            p.news-date{
               font-size: .9375em;
                margin-top: 0 !important;
            }
        }
    }
    a.in-article-img{
        img{
            min-width:100%;
            margin-bottom:.75em;
        }
        @media only screen and (min-width:40.063em){
            display:block;
            float:right;
            margin:0 0 1em 1em;
            max-width:21.875em;
        }
    }
    //------------------- EVENTS ------------------
    ul.events{
        padding: 0;
        list-style: none;
        li.event-item{
            h3{
                font-size:1.5em;
            }
        }
    }

    //----------------- DIRECTORY PERSON -----------------------------
  /*  div.faculty-name-pic{
        display: block;
        position: relative;
        margin: 1em 0;
        @media only screen and (min-width:40.063em){
            display: inline;
            overflow: inherit;
        }
        h2{
            position: absolute;
            left: 5.75em;
            top: -1em;
            @media only screen and (min-width:40.063em){
                left: 0;
                top: 0;
                position: relative;
            }
        }
        img.faculty-full{
            float: none;
            @media only screen and (min-width:40.063em){
                float: left;
                margin: 0 1em 1em 0;
            }
        }
    }
    */
    div.faculty-info{
        @media only screen and (min-width:40.063em){
            overflow: auto;
            img.faculty-full{
                float: left;
                margin: 0 1em 0 0;
            }
        }
    }
    //----------------- DIRECTORY LIST -----------------------------
    ul.directory-label{
        padding: 0;
        background-color: $green;
        @include border-radius(0 1.1875em 1.1875em 0);
        list-style: none;
        overflow: auto;
        display: none;
        @media only screen and (min-width:40.063em){
            display: block;
        }
        li{
            float: left;
            margin: 0;
            padding: 0;
            text-align: center;
            font-weight: 700;
            color: #fff;
            @media only screen and (min-width:40.063em){
                width: 50%;
                @media only screen and (min-width:64.063em){
                    width: 33.3%;
                }
            }
            
            span{
                @media only screen and (min-width:64.063em){
                    display: none;
                }
            }
        }
        li:last-child {
            @media only screen and (min-width:40.063em){
                display: none;
                @media only screen and (min-width:64.063em){
                    display: block;
                }
            }
        }
    }
    ul.faculty{
        padding: 0;
        list-style: none;
        font-size: 1.25em;
        font-family: museo-sans-condensed;
        li.faculty-person{
            padding: 0;
            overflow: auto;
            img.faculty-thumb{
                float: left;
                margin: 0 1em 1em 0;
                @media only screen and (min-width:40.063em){
                    margin:0 1em 0 0;
                }
            }
            p{
                @media only screen and (min-width:40.063em){
                    float: left;
                    width: 49%;
                    @media only screen and (min-width:64.063em){
                        width: 66.6%;
                    }
                }
                span.phone,
                span.email{
                    display: block;
                    @media only screen and (min-width:40.063em){
                        text-align: center;
                        @media only screen and (min-width:64.063em){
                            width: 50%;
                            float: left;
                            display: inline-block;
                        }
                    }
                }
            }
            p.name{
                @media only screen and (min-width:64.063em){
                    width:33.3%;
                }
                a{
                    font-size: 1.5em;
                }
            }
        }
        li.faculty-person:nth-child(even){
            background-color: $msu-green-ten;
        }
    }
}
@import "print";